<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    <table border="2px">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Description</td>
        </tr>
        <tr>
            <td>{{pd.prname}}</td>
            <td>{{pd.prprice}}</td>
            <td>{{pd.prdesc}}</td>
        </tr>
        
    </table>
</body>
</html>